*{
    font-family:'Halant', serif;
    box-sizing: border-box;
    background: #FFFFFF;
}


h1{
    width: 50%;
    margin: 0 auto;
    font-size: 64px;
}

form {
    width: 50%;
    margin: 0 auto;
}

label{
    display: inline-block;
    width: 45%;
    font-size:32px;
    font-weight: 600;
}

.form-div{
   margin-top: 25px;
}

.input-wt {
    width: 50%;
    padding: 2%;
    border-radius: 4px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #797979;
}
  

.input-btn{
    width: 24px;
    height: 24px;
   
}

span{
font-size: 24px;
font-weight: 500;
font-family: 'Manrope', sans-serif;
}


#submit{
    background-color: #155EEF;
    color:#FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}