*{
    font-family:'Halant', serif;
    font-weight: 600px;
    box-sizing: border-box;
}


h1{
    width: 50%;
    margin: 0 auto;
}

form {
    width: 50%;
    margin: 0 auto;
}

label{
    display: inline-block;
    width: 25%;
}

.form-div{
   margin-top: 25px;
}

.input-wt {
    width: 45%;
    padding: 1%;
}


#submit{
    background-color: #155EEF;
    color:#FFFFFF;
    border: none;
    cursor: pointer;
}